<div class="flex items-center mb-4 justify-between" id="todo-{{this._id}}">
  <div class="flex items-center">
    <input
      name="completed"
      hx-target="body"
      hx-swap="innerHTML transition:true"
      hx-patch="/todo/{{this._id}}"
      type="checkbox"
      class="h-6 w-6 mr-4"
      {{#if this.completed}} checked {{/if}}
    />
    <div class="{{#if this.completed}}line-through{{/if}}">{{this.name}}</div>
  </div>
  <div class="flex gap-4">
    <!-- Edit Button -->
    <img
      hx-get="/todos/{{this._id}}/edit?filter={{this.selectedFilter}}{{#unless this.selectedFilter}}{{@root.selectedFilter}}{{/unless}}"
      hx-target="#todo-{{this._id}}"
      hx-swap="outerHTML transition:true"
      src="assets/edit.svg"
      alt="Edit"
      class="h-6 w-6 cursor-pointer"
      title="Edit Todo"
    />

    <!-- Delete Button -->
    <img
      hx-delete="/todos/{{this._id}}?filter={{this.selectedFilter}}{{#unless this.selectedFilter}}{{@root.selectedFilter}}{{/unless}}"
      hx-confirm="Are you sure?"
      hx-target="#todo-{{this._id}}"
      hx-swap="delete transition:true"
      hx-select-oob="#filterBtns"
      src="assets/trash.svg"
      alt="Delete"
      class="h-6 w-6 cursor-pointer"
      title="Delete Todo"
    />
  </div>
</div>